USE [ATI.VinhHung]
GO
/****** Object:  StoredProcedure [dbo].[sp_Contact_GetLastest]    Script Date: 9/25/2017 7:27:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Contact_GetLastest]
@Type NVARCHAR(50),
@PageIndex INT,
@RecordPerPage INT,
@TotalRecord INT OUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT *
	FROM dbo.Contact
	WHERE Type LIKE '%' + @Type + '%'
	ORDER BY  ID DESC
	OFFSET (@PageIndex - 1)*@RecordPerPage ROWS FETCH NEXT @RecordPerPage ROWS ONLY
      
	SELECT @TotalRecord = COUNT(ID)
	FROM dbo.Contact 
	WHERE Type LIKE '%' + @Type + '%'
END


GO
/****** Object:  StoredProcedure [dbo].[sp_CustomerSay_GetByOrderNo]    Script Date: 9/25/2017 7:27:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CustomerSay_GetByOrderNo]
@LangId INT,
@PageIndex INT,
@RecordPerPage INT,
@TotalRecord INT OUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT *
	FROM dbo.CustomerSay
	WHERE LangId = @LangId
	ORDER BY OrderNo DESC
	OFFSET (@PageIndex - 1)*@RecordPerPage ROWS FETCH NEXT @RecordPerPage ROWS ONLY
      
	SELECT @TotalRecord = COUNT(Id)
	FROM dbo.CustomerSay
	WHERE LangId = @LangId
END


GO
/****** Object:  StoredProcedure [dbo].[sp_News_SearchByTitle]    Script Date: 9/25/2017 7:27:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_News_SearchByTitle]
@LangId INT,
@CateId INT,
@UnsignTitle VARCHAR(150),
@PageIndex INT,
@RecordPerPage INT,
@TotalRecord INT OUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT *
	FROM dbo.News
	WHERE LangId = @LangId AND (UnsignTitle LIKE '%'+@UnsignTitle+'%' OR @UnsignTitle = '') AND (@CateId = -1 OR CateId = @CateId)
	ORDER BY  ID DESC
	OFFSET (@PageIndex - 1)*@RecordPerPage ROWS FETCH NEXT @RecordPerPage ROWS ONLY
      
	SELECT @TotalRecord = COUNT(ID)
	FROM dbo.News 
	WHERE LangId = @LangId AND (UnsignTitle LIKE '%'+@UnsignTitle+'%' OR @UnsignTitle = '') AND (@CateId = -1 OR CateId = @CateId)
END


GO
/****** Object:  StoredProcedure [dbo].[sp_Tracker_GetLastest]    Script Date: 9/25/2017 7:27:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE .[dbo].[sp_Tracker_GetLastest]
@IP NVARCHAR(50),
@PageIndex INT,
@RecordPerPage INT,
@TotalRecord INT OUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT *
	FROM dbo.Tracker
	WHERE IP LIKE '%' + @IP + '%'
	ORDER BY  ID DESC
	OFFSET (@PageIndex - 1)*@RecordPerPage ROWS FETCH NEXT @RecordPerPage ROWS ONLY
      
	SELECT @TotalRecord = COUNT(ID)
	FROM dbo.Tracker 
	WHERE IP LIKE '%' + @IP + '%'
END


GO
/****** Object:  StoredProcedure [dbo].[sp_User_GetLastest]    Script Date: 9/25/2017 7:27:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_User_GetLastest]
@PageIndex INT,
@RecordPerPage INT,
@TotalRecord INT OUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT *
	FROM dbo.[User]
	ORDER BY  ID DESC
	OFFSET (@PageIndex - 1)*@RecordPerPage ROWS FETCH NEXT @RecordPerPage ROWS ONLY
      
	SELECT @TotalRecord = COUNT(ID)
	FROM dbo.[User]
END


GO
/****** Object:  Table [dbo].[Agencies]    Script Date: 9/25/2017 7:27:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Agencies](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[UnsignName] [nvarchar](250) NOT NULL,
	[SeoLink] [varchar](250) NOT NULL,
	[Address] [nvarchar](250) NOT NULL,
	[Province] [nvarchar](50) NOT NULL,
	[ProvinceSeolink] [varchar](50) NOT NULL,
	[District] [nvarchar](50) NOT NULL,
	[DistrictSeolink] [varchar](50) NOT NULL,
	[Level] [tinyint] NOT NULL,
	[Mobile] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Website] [nvarchar](100) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[Long] [float] NOT NULL,
	[Lang] [float] NOT NULL,
	[Introduce] [nvarchar](max) NOT NULL,
	[OrderNo] [int] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[ViewNo] [int] NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Image] [nvarchar](400) NOT NULL,
	[Thumb] [nvarchar](4000) NULL,
	[LangId] [int] NULL,
 CONSTRAINT [PK_Agencies] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BussinessAreas]    Script Date: 9/25/2017 7:27:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BussinessAreas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[SeoLink] [varchar](150) NOT NULL,
	[EnglishName] [nvarchar](150) NOT NULL,
	[SeoLink_En] [varchar](150) NOT NULL,
	[Image] [nvarchar](500) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Content_En] [nvarchar](max) NOT NULL,
	[ViewNo] [int] NOT NULL,
	[OrderNo] [int] NOT NULL,
	[LangId] [int] NULL,
 CONSTRAINT [PK_BussinessAreas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CateNews]    Script Date: 9/25/2017 7:27:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CateNews](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[EnglishName] [nvarchar](50) NOT NULL,
	[OrderNo] [smallint] NOT NULL,
	[SeoLink] [varchar](50) NULL,
	[LangId] [int] NULL,
	[Type] [int] NULL,
	[UnsignName] [varchar](50) NULL,
 CONSTRAINT [PK_CateNews] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CateProduct]    Script Date: 9/25/2017 7:27:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CateProduct](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[SeoLink] [varchar](50) NOT NULL,
	[EnglishName] [nvarchar](50) NOT NULL,
	[ParrentCateId] [smallint] NOT NULL,
	[ParrentCateName] [nvarchar](50) NOT NULL,
	[OrderNo] [smallint] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsDelete] [bit] NOT NULL,
	[ChildCount] [smallint] NOT NULL,
	[LangId] [int] NULL,
	[UnsignName] [nvarchar](50) NULL,
	[IsShowHomePage] [bit] NULL,
 CONSTRAINT [PK_CateProduct] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CommonInfo]    Script Date: 9/25/2017 7:27:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommonInfo](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[HeadOffice] [nvarchar](500) NOT NULL,
	[HeadOffice_En] [nvarchar](500) NOT NULL,
	[Office] [nvarchar](4000) NOT NULL,
	[Office_En] [nvarchar](4000) NOT NULL,
	[Mobile] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Fax] [nvarchar](50) NOT NULL,
	[ShortName] [nvarchar](50) NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[EnglishName] [nvarchar](150) NOT NULL,
	[Long] [float] NULL,
	[Lang] [float] NULL,
	[Facebook] [nvarchar](50) NOT NULL,
	[Yahoo] [nvarchar](100) NOT NULL,
	[Skype] [nvarchar](100) NOT NULL,
	[Logo] [nvarchar](500) NOT NULL,
	[Summary] [nvarchar](3000) NULL,
	[Summary_En] [nvarchar](3000) NULL,
	[LangId] [tinyint] NULL,
 CONSTRAINT [PK_CommonInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ConfigImage]    Script Date: 9/25/2017 7:27:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ConfigImage](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Name_En] [varchar](50) NULL,
	[Image] [varchar](500) NULL,
	[Url] [varchar](500) NULL,
	[Status] [int] NULL,
	[UnsignName] [varchar](50) NULL,
	[UnsignName_En] [varchar](50) NULL,
	[LangId] [int] NULL,
	[CreatedTime] [datetime] NULL,
	[CreatedUserId] [int] NULL,
	[CreatedFullname] [nvarchar](150) NULL,
 CONSTRAINT [PK_ConfigImage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 9/25/2017 7:27:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Contact](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
	[Company] [nvarchar](150) NOT NULL,
	[Address] [nvarchar](150) NOT NULL,
	[Mobile] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Content] [nvarchar](4000) NOT NULL,
	[SendTime] [datetime] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[UnsignName] [varchar](50) NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ContentStatic]    Script Date: 9/25/2017 7:27:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentStatic](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](512) NOT NULL,
	[LangId] [tinyint] NULL,
	[Content] [nvarchar](max) NULL,
 CONSTRAINT [PK_ContentStatic] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contractor]    Script Date: 9/25/2017 7:27:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contractor](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[UnsignName] [nvarchar](150) NULL,
	[SeoLink] [nvarchar](150) NOT NULL,
	[EnglishName] [nvarchar](150) NOT NULL,
	[Summary] [nvarchar](300) NULL,
	[Summary_En] [nvarchar](300) NULL,
	[SeoLink_En] [nvarchar](150) NOT NULL,
	[Image] [nvarchar](500) NOT NULL,
	[SlideShow] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Content_En] [nvarchar](max) NOT NULL,
	[ViewNo] [smallint] NOT NULL,
	[OrderNo] [smallint] NOT NULL,
	[IsDelete] [smallint] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
	[LangId] [tinyint] NULL,
 CONSTRAINT [PK_Contractor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customer]    Script Date: 9/25/2017 7:27:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[EnglishName] [nvarchar](100) NOT NULL,
	[Image] [nvarchar](500) NOT NULL,
	[Website] [nvarchar](100) NOT NULL,
	[Image2] [nvarchar](200) NULL,
	[OrderNo] [smallint] NOT NULL,
	[Status] [bit] NOT NULL,
	[LangId] [tinyint] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CustomerSay]    Script Date: 9/25/2017 7:27:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CustomerSay](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Title_En] [nvarchar](50) NOT NULL,
	[Company] [nvarchar](50) NOT NULL,
	[Company_En] [nvarchar](50) NOT NULL,
	[Content] [nvarchar](300) NOT NULL,
	[Content_En] [nvarchar](300) NOT NULL,
	[OrderNo] [smallint] NOT NULL,
	[Image] [nvarchar](500) NOT NULL,
	[LangId] [int] NULL,
	[UnsignName] [varchar](50) NULL,
	[UnsignName_En] [varchar](50) NULL,
 CONSTRAINT [PK_CustomerSay] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 9/25/2017 7:27:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[SeoLink] [nvarchar](50) NOT NULL,
	[ProvinceSeoLink] [nvarchar](50) NOT NULL,
	[National] [nvarchar](50) NOT NULL,
	[LangId] [tinyint] NULL,
 CONSTRAINT [PK_Districts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FAQs]    Script Date: 9/25/2017 7:27:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAQs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nvarchar](300) NOT NULL,
	[Answer] [nvarchar](max) NOT NULL,
	[Time] [datetime] NOT NULL,
	[LangId] [tinyint] NULL,
 CONSTRAINT [PK_FAQs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Introduce]    Script Date: 9/25/2017 7:27:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Introduce](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[SeoLink] [nvarchar](50) NULL,
	[EnglishTitle] [nvarchar](50) NULL,
	[SeoLink_En] [nchar](10) NULL,
	[Summary] [nvarchar](200) NULL,
	[Summary_En] [nvarchar](200) NULL,
	[Content] [nvarchar](max) NULL,
	[LastUpdateTime] [datetime] NULL,
	[LastUpdateUser] [nvarchar](50) NULL,
	[ViewNo] [int] NULL,
	[Content_En] [nvarchar](max) NULL,
	[LangId] [tinyint] NULL,
	[IsShowHomePage] [bit] NULL,
	[UnsignName] [varchar](50) NULL,
	[UnsignName_En] [varchar](50) NULL,
 CONSTRAINT [PK_Introduce] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 9/25/2017 7:27:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Jobs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[SeoLink] [varchar](150) NOT NULL,
	[Title_En] [nvarchar](150) NOT NULL,
	[SeoLink_En] [varchar](150) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Description_En] [nvarchar](max) NOT NULL,
	[Requirement] [nvarchar](max) NOT NULL,
	[Requirement_En] [nvarchar](max) NOT NULL,
	[Benefit] [nvarchar](4000) NOT NULL,
	[Benefit_En] [nvarchar](4000) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[Number] [nvarchar](50) NOT NULL,
	[Profile] [nvarchar](4000) NOT NULL,
	[ContactInfo] [nvarchar](300) NOT NULL,
	[FromDate] [datetime] NOT NULL,
	[ToDate] [datetime] NOT NULL,
	[LangId] [tinyint] NULL,
 CONSTRAINT [PK_Jobs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Members]    Script Date: 9/25/2017 7:27:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[EnglishName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](300) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Fax] [nvarchar](50) NOT NULL,
	[Image] [nvarchar](500) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Website] [nvarchar](100) NOT NULL,
	[LangId] [tinyint] NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[News]    Script Date: 9/25/2017 7:27:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[News](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CateId] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[SeoLink] [varchar](200) NOT NULL,
	[Title_En] [nvarchar](200) NOT NULL,
	[SeoLink_En] [varchar](200) NOT NULL,
	[Image] [nvarchar](500) NOT NULL,
	[Summary] [nvarchar](300) NOT NULL,
	[Summary_En] [nvarchar](300) NULL,
	[Content] [nvarchar](max) NULL,
	[Content_En] [nvarchar](max) NULL,
	[PostTime] [datetime] NOT NULL,
	[Author] [nvarchar](50) NULL,
	[ViewNo] [int] NOT NULL,
	[IsHot] [smallint] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[UnsignTitle] [varchar](200) NULL,
	[LangId] [int] NULL,
	[Type] [int] NULL,
	[CreatedTime] [datetime] NULL,
	[CreatedUserId] [int] NULL,
	[CreatedFullname] [nvarchar](150) NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 9/25/2017 7:27:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IP] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](300) NOT NULL,
	[Mobile] [nvarchar](50) NOT NULL,
	[OrderTotal] [float] NOT NULL,
	[Items] [nvarchar](max) NOT NULL,
	[OrderTime] [datetime] NOT NULL,
	[Status] [smallint] NOT NULL,
	[LangId] [tinyint] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Partner]    Script Date: 9/25/2017 7:27:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Partner](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[SeoLink] [nvarchar](150) NOT NULL,
	[EnglishName] [nvarchar](150) NOT NULL,
	[SeoLink_En] [nvarchar](150) NOT NULL,
	[Image] [nvarchar](500) NOT NULL,
	[Summary] [nvarchar](300) NOT NULL,
	[Summary_En] [nvarchar](300) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Content_En] [nvarchar](max) NULL,
	[ViewNo] [int] NOT NULL,
	[OrderNo] [smallint] NULL,
	[LangId] [tinyint] NULL,
	[CreatedUserId] [int] NULL,
	[CreatedFullname] [nvarchar](150) NULL,
	[CreatedDate] [datetime] NULL,
	[UnsignName] [varchar](150) NULL,
	[UnsignName_En] [varchar](150) NULL,
 CONSTRAINT [PK_Partner] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product]    Script Date: 9/25/2017 7:27:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CateId] [int] NOT NULL,
	[CreateDate] [nvarchar](100) NULL,
	[Customer] [nvarchar](100) NULL,
	[Name] [nvarchar](150) NOT NULL,
	[SeoLink] [nvarchar](150) NOT NULL,
	[UnsignName] [varchar](150) NOT NULL,
	[EnglishName] [nvarchar](150) NOT NULL,
	[SeoLink_En] [nvarchar](150) NOT NULL,
	[Image] [nvarchar](500) NOT NULL,
	[Summary] [nvarchar](300) NOT NULL,
	[Summary_En] [nvarchar](300) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Content_En] [nvarchar](max) NULL,
	[ViewNo] [int] NOT NULL,
	[OrderNo] [smallint] NULL,
	[Status] [tinyint] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[Tags] [nvarchar](500) NULL,
	[IsHot] [tinyint] NOT NULL,
	[LangId] [int] NULL,
	[IsShowHomePage] [bit] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Provinces]    Script Date: 9/25/2017 7:27:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Provinces](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[SeoLink] [nvarchar](50) NOT NULL,
	[National] [nvarchar](30) NOT NULL,
	[CountryCode] [varchar](4) NULL,
	[ZipCode] [varchar](6) NULL,
	[LangId] [tinyint] NULL,
 CONSTRAINT [PK_Provinces] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 9/25/2017 7:27:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tags](
	[SeoLink] [varchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[LangId] [tinyint] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tracker]    Script Date: 9/25/2017 7:27:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tracker](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Browser] [varchar](20) NULL,
	[Version] [varchar](50) NULL,
	[OS] [varchar](15) NULL,
	[PageUrl] [varchar](400) NULL,
	[UrlReferrer] [varchar](450) NULL,
	[SessionID] [varchar](30) NULL,
	[IP] [varchar](20) NULL,
	[InTime] [datetime] NOT NULL,
	[Country] [varchar](20) NULL,
	[City] [nvarchar](20) NULL,
	[IsMobileDevice] [bit] NOT NULL,
	[MobileDeviceManufacturer] [varchar](20) NULL,
	[LangId] [int] NULL,
 CONSTRAINT [PK_Tracker] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 9/25/2017 7:27:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Image] [nvarchar](250) NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[LangId] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CateNews] ON 

INSERT [dbo].[CateNews] ([ID], [Name], [EnglishName], [OrderNo], [SeoLink], [LangId], [Type], [UnsignName]) VALUES (1, N'Tin tức và sự kiện', N'Tin tức và sự kiện', 1, N'tin-tuc-va-su-kien', 0, 0, NULL)
INSERT [dbo].[CateNews] ([ID], [Name], [EnglishName], [OrderNo], [SeoLink], [LangId], [Type], [UnsignName]) VALUES (2, N'Tin công nghệ', N'Tin công nghệ', 2, N'tin-cong-nghe', 0, 0, NULL)
INSERT [dbo].[CateNews] ([ID], [Name], [EnglishName], [OrderNo], [SeoLink], [LangId], [Type], [UnsignName]) VALUES (3, N'Tin khoa học kỹ thuật', N'Tin khoa học kỹ thuật', 3, N'tin-khoa-hoc-ky-thuat', 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[CateNews] OFF
SET IDENTITY_INSERT [dbo].[CateProduct] ON 

INSERT [dbo].[CateProduct] ([ID], [Name], [SeoLink], [EnglishName], [ParrentCateId], [ParrentCateName], [OrderNo], [Description], [IsDelete], [ChildCount], [LangId], [UnsignName], [IsShowHomePage]) VALUES (1, N'Phần mềm', N'loai-1', N'Phần mềm', -1, N'', 1, N'<p>Phần mềm</p>
', 0, 0, 0, N'phan mem', 1)
INSERT [dbo].[CateProduct] ([ID], [Name], [SeoLink], [EnglishName], [ParrentCateId], [ParrentCateName], [OrderNo], [Description], [IsDelete], [ChildCount], [LangId], [UnsignName], [IsShowHomePage]) VALUES (2, N'Công nghệ thông tin', N'cong-nghe-thong-tin', N'Công nghệ thông tin', -1, N'', 2, N'<p>Công nghệ thông tin</p>
', 0, 0, 0, N'cong nghe thong tin', 1)
INSERT [dbo].[CateProduct] ([ID], [Name], [SeoLink], [EnglishName], [ParrentCateId], [ParrentCateName], [OrderNo], [Description], [IsDelete], [ChildCount], [LangId], [UnsignName], [IsShowHomePage]) VALUES (3, N'Thiết bị giáo dục', N'thiet-bi-giao-duc', N'Thiết bị giáo dục', -1, N'', 3, N'<p>Thiết bị giáo dục</p>
', 0, 0, 0, N'thiet bi giao duc', 1)
SET IDENTITY_INSERT [dbo].[CateProduct] OFF
SET IDENTITY_INSERT [dbo].[CommonInfo] ON 

SET IDENTITY_INSERT [dbo].[CommonInfo] OFF
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([ID], [Name], [Title], [Type], [Company], [Address], [Mobile], [Email], [Content], [SendTime], [Status], [UnsignName]) VALUES (1, N'Nguyễn Văn A', N'', N'Mua sản phẩm', N'', N'', N'0987654321', N'nguyenvana@gmail.com', N'fasdfasdfasd', CAST(0x0000A7F30009F8D0 AS DateTime), 1, NULL)
INSERT [dbo].[Contact] ([ID], [Name], [Title], [Type], [Company], [Address], [Mobile], [Email], [Content], [SendTime], [Status], [UnsignName]) VALUES (2, N'Nguyen Van D', N'', N'Mua sản phẩm', N'Khoong biet', N'', N'0987654321', N'nguyenvand@gmail.com', N'asdfasdfasd', CAST(0x0000A7F3000E9BF7 AS DateTime), 0, NULL)
INSERT [dbo].[Contact] ([ID], [Name], [Title], [Type], [Company], [Address], [Mobile], [Email], [Content], [SendTime], [Status], [UnsignName]) VALUES (3, N'Nguyen Van C', N'', N'Mua sản phẩm', N'Hoang Ha', N'', N'0987456321', N'admin@yourstore.com', N'czxczx', CAST(0x0000A7F3000EFFDD AS DateTime), 0, NULL)
SET IDENTITY_INSERT [dbo].[Contact] OFF
SET IDENTITY_INSERT [dbo].[CustomerSay] ON 

INSERT [dbo].[CustomerSay] ([ID], [FullName], [Title], [Title_En], [Company], [Company_En], [Content], [Content_En], [OrderNo], [Image], [LangId], [UnsignName], [UnsignName_En]) VALUES (2, N'IBM', N'', N'', N'', N'', N'', N'', 1, N'/Uploads/imb.png', 0, N'ibm', N'ibm')
SET IDENTITY_INSERT [dbo].[CustomerSay] OFF
SET IDENTITY_INSERT [dbo].[Introduce] ON 

SET IDENTITY_INSERT [dbo].[Introduce] OFF
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
SET IDENTITY_INSERT [dbo].[Partner] ON 

SET IDENTITY_INSERT [dbo].[Partner] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ID], [CateId], [CreateDate], [Customer], [Name], [SeoLink], [UnsignName], [EnglishName], [SeoLink_En], [Image], [Summary], [Summary_En], [Content], [Content_En], [ViewNo], [OrderNo], [Status], [IsDelete], [Tags], [IsHot], [LangId], [IsShowHomePage]) VALUES (1, 0, N'', N'Dự án 1', N'Dự án 1', N'du-an-1', N'Du an 1', N'Dự án 1', N'du-an-1', N'', N'Dự án 1', N'Dự án 1', N'<p>Dự án 1</p>
', N'<p>Dự án 1</p>
', 0, 1, 1, 1, NULL, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [UserName], [FullName], [Title], [Password], [Image], [IsDelete], [Status], [LangId]) VALUES (1, N'admin', N'admin', N'admin', N'c2f1366c51911b52369fe27df307ff84', N'/Uploads/profile.jpg', 0, 1, 0)
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[CateNews] ADD  CONSTRAINT [DF_CateNews_Type]  DEFAULT ((0)) FOR [Type]
GO
ALTER TABLE [dbo].[CateProduct] ADD  CONSTRAINT [DF_CateProduct_IsShowHomePage]  DEFAULT ((0)) FOR [IsShowHomePage]
GO
ALTER TABLE [dbo].[Introduce] ADD  CONSTRAINT [DF_Introduce_IsShowHomePage]  DEFAULT ((0)) FOR [IsShowHomePage]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_IsShowHomePage]  DEFAULT ((0)) FOR [IsShowHomePage]
GO
