@using ATI.Web.Controllers;
@using ATI.Web.Helper;
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
    var currentUSer = (BriefUser)ViewBag.CurrentUser;
}
@section KnockOut{
    <script>
        var userName = '@currentUSer.UserName';
    </script>
<script src="~/Scripts/md5-min.js"></script>
<script src="~/Scripts/models/User.js"></script>
<script src="~/Scripts/ModelViews/CMSChangePassword.js"></script>
}
<link href="~/Content/css/custom-sky-forms.css" rel="stylesheet" />
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Đổi mật khẩu</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/" class="menuATI">@ATIResourceManger._managerResources.GetString("HomeCode", ATIResourceManger._culture)</a></li>
            <li><a class="active">Đổi mật khẩu</a></li>
        </ul>
    </div>
</div>
<div class="container content">
    <div class="sky-form margin-bottom-30">
        <header>Đổi mật khẩu</header>
        <fieldset>
            <div class="row">
                <section class="col col-6">
                    <label class="label">Tên đăng nhập <span class="color-red">*</span></label>
                    <label class="input">
                        <input type="text" data-bind="value: UserName, hasfocus: fcUserName" maxlength="100" />
                    </label>
                </section>
            </div>
            <div class="row">
                <section class="col col-6">
                    <label class="label">Mật khẩu mới <span class="color-red">*</span></label>
                    <label class="input">
                        <input type="password" data-bind="value: Password, hasfocus: fcPassword" maxlength="100" />
                    </label>
                </section>
            </div>
        </fieldset>
        <footer>
            <button class="button" type="submit" data-bind="click: Update, enable: !Sending()"><img src="/content/images/loading1.gif" data-bind="visible: Sending" /> Đồng ý</button>
        </footer>
    </div>
</div>