
@{
    ViewBag.Title = "Quản trị hệ thống";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Hệ thống quản trị website</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Trang chủ</a></li>
            <li><a class="active">Hệ thống quản trị website</a></li>
        </ul>
    </div>
</div>
<div class="container content margin-bottom-45">
    <h4 class="margin-bottom-20">Bạn hãy chọn chức năng bên trên đển quản lý thông tin website</h4>
    <h4 class="margin-bottom-45"><a href="/tro-giup">Click vào đây để xem hướng dẫn sử dụng</a></h4>
</div>
