
@using ATI.Web.Resource;
@using ATI.Web.Helper;

@{
    ViewBag.Title = "Quản lý liên hệ";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@section KnockOut{
    <script type="text/html" id="ContactTemplate">
        <tr>
            <td class="center" data-bind="text: (CurrentPage - 1) * totalPageCate+$index()+1"></td>
            <td data-bind="text: Name"></td>
            <td data-bind="text: Company, visible: $root.IsSmartPhone450"></td>
            <td data-bind="text: Mobile, visible: $root.IsSmartPhone450"></td>
            <td data-bind="text: Email, visible: $root.IsSmartPhone450"></td>
            <td data-bind="text: Content, visible: $root.IsSmartPhone450"></td>
            <td data-bind="text: moment(SendTime).format('DD/MM/YYYY hh:mm'), visible: $root.IsSmartPhone450"></td>
            <td>
                <button type="button" class="btn btn-u btn-small" data-bind="click: $root.UpdateStatus.bind($data, $data), attr:{class: Status==1?'btn-u btn-u-red':'btn-u btn-u-dark-blue'}, enable: Status==0, text: Status==1?'Cũ':'Mới'"></button>
            </td>
        </tr>
    </script>
    <script src="~/Scripts/plugins/moment.min.js"></script>
    <script src="~/Scripts/ATI.pager.js"></script>
    <script src="~/Scripts/models/Contact.js"></script>
    <script src="~/Scripts/ModelViews/Contact.js"></script>
}
<link href="~/Content/css/custom-sky-forms.css" rel="stylesheet" />
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">@ATIResource.ContactCode</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">@ATIResource.HomeCode</a></li>
            <li><a class="active">@ATIResource.ContactCode</a></li>
        </ul>
    </div>
</div>
<div class="container content">
    <div class="panel panel-green margin-bottom-40">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon icon-tasks"></i> @ATIResource.ListContact</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6 mb-margin-bottom-30">
                    <div class="input-group margin-bottom-40">
                        <input type="text" placeholder="Tên đối tác" class="form-control" data-bind="value: Keyword">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-u btn-small btn-u-blue" data-bind="click: Search.bind($data,1)">Tìm kiếm</button>
                        </span>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="center">STT</th>
                        <th class="center">
                            Họ và tên
                        </th>
                        <th class="center" data-bind="visible: IsSmartPhone450">
                            Công ty
                        </th>
                        <th class="center" data-bind="visible: IsSmartPhone450">Điện thoại</th>
                        <th class="center" data-bind="visible: IsSmartPhone450">Email</th>
                        <th class="center" data-bind="visible: IsSmartPhone450">
                            Nội dung
                        </th>
                        <th class="center" data-bind="visible: IsSmartPhone450">
                            Thời gian gửi
                        </th>
                        <th class="center">
                            Trạng thái
                        </th>
                    </tr>
                </thead>
                <tbody data-bind="template: {name:'ContactTemplate', foreach: ListContact}"></tbody>
            </table>
            <div class="row margin-bottom-10">
                <div class="col-md-6" id="sumarypager"></div>
                <div class="col-md-6">
                    <div class="text-right" id="pager"></div>
                </div>
            </div>
        </div>
    </div>
</div>