@{
    ViewBag.Title = "Đối tác";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@section KnockOut{
    <script type="text/html" id="CustomerSayTemplate">
        <tr>
            <td data-bind="text: (CurrentPage - 1) * totalPageCate+$index()+1"></td>
            <td><img data-bind="attr:{src:Image}" height="50" /></td>
            <td data-bind="text: FullName"></td>
            @*<td data-bind="text: Title"></td>
                <td data-bind="text: Company"></td>*@
            <td data-bind="text: OrderNo, visible: $root.IsSmartPhone450"></td>
            <td>
                <button type="button" class="btn-u btn-u-dark-blue" data-bind="click: $root.SetUpdate.bind($data, $data)"><i class="fa fa-edit"></i></button>
                <button type="button" class="btn-u btn-u-red" data-bind="click: $root.Delete.bind($data, $data)"><i class="fa fa-times"></i></button>
            </td>
        </tr>
    </script>
    <script src="~/Scripts/ATI.pager.js"></script>
    <script src="/Scripts/swfobject.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.uploadify.v2.1.4.min.js" type="text/javascript"></script>
    <script src="~/Scripts/models/CustomerSay.js"></script>
    <script src="~/Scripts/ModelViews/CustomerSay.js"></script>
}

<link href="~/Content/css/custom-sky-forms.css" rel="stylesheet" />
<link href="~/Content/css/jquery_ui_datepicker.css" rel="stylesheet" />

<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Tin tức</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Trang chủ</a></li>
            <li><a class="active">Đối tác</a></li>
        </ul>
    </div>
</div>
<div class="container content">
    <div class="sky-form margin-bottom-30" data-bind="visible:ShowDetail">
        <header>Đối tác</header>
        <fieldset>
            <div class="row">
                <section class="col col-lg-2">
                    <label class="label">Chọn ngôn ngữ <span class="color-red">*</span></label>
                    <select data-bind="value:LangId, optionsValue:'ID', optionsText:'Name'" class="form-control">
                        <option value="0">Tiếng Việt</option>
                        <option value="1">Tiếng Anh</option>
                    </select>
                </section>
            </div>
            <div class="row">
                <section class="col col-lg-6">
                    <label class="label">Tên đối tác <span class="color-red">*</span></label>
                    <label class="input">
                        <input type="text" data-bind="value: FullName, hasfocus: fcFullName" maxlength="50" />
                    </label>
                </section>
                <section class="col col-2">
                    <label class="label">Thứ tự hiển thị</label>
                    <label class="select">
                        <select class="form-control" data-bind="value: OrderNo">
                            @{for (int i = 1; i < 100; i++)
                                {
                                    <option value="@i">@i</option>
                                }}
                        </select>
                    </label>
                </section>
            </div>
            <div class="row">
                <section class="col col-lg-6">
                    <label class="label">Đường dẫn</label>
                    <label class="input">
                        <input type="text" data-bind="value: Title" maxlength="50" />
                    </label>
                </section>

            </div>
            <div class="row">
                <section class="col col-2">
                    <label class="label">Ảnh đại diện</label>
                    <label class="img-bordered">
                        <img data-bind="attr:{src:Image()}" width="100" />
                    </label>
                </section>
                <section class="col col-4">
                    <label class="input">
                        <input type="file" name="attachImages" id="attachImages" />
                    </label>
                </section>
            </div>
            @*<section>
                    <label class="label">Nội dung nhận xét (Không quá 300 ký tự)<span class="color-red">*</span></label>
                    <label class="textarea">
                        <textarea data-bind="value: Summary" maxlength="300"></textarea>
                    </label>
                </section>*@
        </fieldset>
        <footer>
            <button class="button" type="submit" data-bind="click: Update, enable: !Sending()">
                <img src="/content/images/loading1.gif" data-bind="visible: Sending" /> Lưu lại
            </button>
        </footer>
    </div>
    <div class="panel panel-green margin-bottom-40">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon icon-tasks"></i> Danh sách đối tác</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6 mb-margin-bottom-30 text-right">
                    <select class="form-control" data-bind="value: LangId, event:{change: changeLangId}">
                        <option value="0">Tiếng Việt</option>
                        <option value="1">Tiếng Anh</option>
                    </select>
                </div>
                <div class="col-md-6 mb-margin-bottom-30 text-right">
                    <button type="button" class="btn-u" data-bind="click: ShowAddForm"><i class="icon icon-plus"></i> Thêm mới</button>
                </div>
            </div>
            <p>&nbsp;</p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>TT</th>
                        <th>Ảnh</th>
                        <th>Tên đối tác</th>
                        @*<th data-bind="visible: IsDesktop">Chức danh</th>
                            <th data-bind="visible: IsSmartPhone450">Đơn vị</th>*@
                        <th data-bind="visible: IsSmartPhone450">Thứ tự hiển thị</th>
                        <th>Sửa, xóa</th>
                    </tr>
                </thead>
                <tbody data-bind="template: {name:'CustomerSayTemplate', foreach: ListCustomerSay}"></tbody>
            </table>
            <div class="row margin-bottom-10">
                <div class="col-md-6" id="sumarypager"></div>
                <div class="col-md-6">
                    <div class="text-right" id="pager"></div>
                </div>
            </div>
        </div>
    </div>
</div>