@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@section KnockOut{
    <script type="text/html" id="ProductTemplate">
        <tr>
            <td data-bind="text: (CurrentPage - 1) * RecordPerPage+$index()+1"></td>
            <td><img data-bind="attr:{src:Image}, visible: $root.IsDesktop" height="50" /></td>
            <td data-bind="text: Name"></td>
            <td data-bind="text: Customer, visible: $root.IsSmartPhone450"></td>
            <td data-bind="text: Status == 0 ? 'Đang ẩn' : 'Đang hiển thị', visible: $root.IsSmartPhone450"></td>
            <td>
                <button type="button" class="btn-u btn-u-dark-blue" data-bind="click: $root.SetUpdate.bind($data, $data)"><i class="fa fa-edit"></i></button>
                <button type="button" class="btn-u btn-u-red" data-bind="click: $root.Delete.bind($data, $data)"><i class="fa fa-times"></i></button>
            </td>
        </tr>
    </script>
    <script src="~/Scripts/jquery.ui.widget.js"></script>
    <script src="~/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
    <script src="/Scripts/bootstrap/bootstrap-tags.min.js"></script>
    <script src="/Scripts/ATI.pager.js"></script>
    <script src="/Scripts/editor/full/ckeditor.js"></script>
    <script src="/Scripts/models/CateProduct.js"></script>
    <script src="/Scripts/models/Product.js"></script>
    <script src="/Scripts/ModelViews/Product.js"></script>
}

<link href="~/Content/jQuery.FileUpload/css/jquery.fileupload.css" rel="stylesheet" />
<link href="/Content/v.1/css/bootstrap-tags.css" rel="stylesheet" />
<link href="/Content/css/custom-sky-forms.css" rel="stylesheet" />

<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Sản phẩm</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Trang chủ</a></li>
            <li><a class="active">Sản phẩm</a></li>
        </ul>
    </div>
</div>
<div class="container content">
    <div class="sky-form margin-bottom-30" data-bind="visible:ShowDetail">
        <header>Thông tin sản phẩm</header>
        <fieldset>
            <div class="row">
                <section class="col col-6">
                    <label class="label">Chọn ngôn ngữ<span class="color-red">*</span></label>
                    <select class="form-control" data-bind="value:LangId, optionsValue:'ID', optionsText:'Name'">
                        <option value="0">Tiếng Việt</option>
                        <option value="1">English</option>
                    </select>
                </section>
            </div>
            <div class="row">
                <section class="col col-11">
                    <label class="label">Tên sản phẩm <span class="color-red">*</span></label>
                    <label class="input">
                        <input type="text" data-bind="value: Name, hasfocus: fcName" maxlength="150" />
                    </label>
                </section>
            </div>
            <div class="row">
                <section class="col col-4">
                    <label class="label">Thời gian thực hiện <span class="color-red">*</span></label>
                    <label class="select">
                        <select class="form-control" data-bind="value: CateAdd, options: CateProducts, optionsCaption:'Chọn nhóm sản phẩm', optionsValue:'ID', optionsText:'Name'"></select>
                    </label>
                </section>
                <section class="col col-4">
                    <label class="label">Trạng thái</label>
                    <label class="select">
                        <select data-bind="value: Status">
                            <option value="2">Sản phẩm nổi bật</option>
                            <option value="1">Hiển thị</option>
                            <option value="0">Ẩn</option>
                        </select>
                    </label>
                </section>
                <section class="col col-4">
                    <label class="label">
                        Hiển thị trang chủ
                    </label>
                    <div class="check-box">
                        <input type="checkbox" data-bind="checked: IsShowHomePage" />
                    </div>
                </section>
            </div>
            <div class="row  margin-bottom-20">
                <section class="col col-4">
                    <label class="label">Ảnh sản phẩm <i class="fa fa-question-circle tooltip1" data-toggle="tooltip" data-placement="top" title="Ảnh sản phẩm nên có độ phân giải tối thiểu 400x400px"></i></label>
                    <label class="img-bordered">
                        <img data-bind="attr:{src:Image()}" width="300" />
                    </label>
                </section>
                <section class="col col-6">
                    <div class="input">
                        @*<img style="width: 50px; height: 50px;" data-bind="attr:{src: Image() === null? '': Image()}">*@
                        <i id="loadingUpload" class="fa fa-spinner fa-pulse" data-bind="visible: isUploading()" style="display: none;"></i>
                        <div class="fileuploadButton cursor-pointer">
                            <input id="FileUploadImage" type="file" name="FileData">
                            <a href="#">
                                <i class="fa fa-upload"></i> <span>Tải ảnh</span>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
            @*<div class="row margin-bottom-20">
                    <div class="col-sm-12">
                        <label class="label">Tags: <i class="fa fa-question-circle tooltip1" data-toggle="tooltip" data-placement="top" title="Tag là đánh dấu thông tin liên quan tới sản phẩm"></i></label>
                        <div id="Tags" class="tag-list"></div>
                    </div>
                </div>*@
            <section>
                <label class="label">Miêu tả tóm tắt sản phẩm (không quá 300 ký tự)<i class="fa fa-question-circle tooltip1" data-toggle="tooltip" data-placement="top" title="Miểu tả nội dung tóm tắt về sản phẩm, nội dung này sẽ được hiển thị ở kết quả tìm kiếm của Google. Không quá 300 ký tự"></i><span class="color-red">*</span></label>
                <label class="textarea">
                    <textarea data-bind="value: Summary" maxlength="300"></textarea>
                </label>
            </section>
            <div class="row">
                <section class="col col-6">
                    <label class="label">Chèn ảnh vào nội dung <i class="fa fa-question-circle tooltip1" data-toggle="tooltip" data-placement="top" title="Để chèn ảnh vào nội dung bạn hãy click chọn vị trí muốn chèn ảnh rồi click nút chọn ảnh cần chèn"></i></label>
                    <div class="input">
                        <i id="loadingUpload" class="fa fa-spinner fa-pulse" data-bind="visible: isUploading()" style="display: none;"></i>
                        <div class="fileuploadButton cursor-pointer">
                            <input id="EmbbedImages" type="file" name="FileData">
                            <a href="#">
                                <i class="fa fa-upload"></i> <span>Tải ảnh</span>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
            <section>
                <label class="label">Chi tiết về sản phẩm <span class="color-red">*</span></label>
                <textarea id="Content" rows="4" class="ckeditor"></textarea>
            </section>
        </fieldset>
        <footer>
            <button class="button" type="submit" data-bind="click: Update, enable: !Sending()"><img src="/content/images/loading1.gif" data-bind="visible: Sending" /> Lưu lại</button>
        </footer>
    </div>
    <div class="panel panel-green margin-bottom-40">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon icon-tasks"></i> Danh sách sản phẩm</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 mb-margin-bottom-30">
                    <select class="form-control" data-bind="value: CateId, options: CateProducts, optionsCaption:'Chọn nhóm sản phẩm', optionsValue:'ID', optionsText:'Name', event:{change: Search.bind($data,1)}"></select>
                </div>
                <div class="col-md-6 mb-margin-bottom-30">
                    <div class="input-group margin-bottom-40">
                        <input type="text" placeholder="Tên sản phẩm" class="form-control" data-bind="value: Keyword" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-u btn-small btn-u-blue" data-bind="click: Search.bind($data,1)">Tìm kiếm</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3 mb-margin-bottom-30 text-right">
                    <button type="button" class="btn btn-u btn-small btn-u-blue" data-bind="click: ShowAddForm"><i class="icon icon-plus"></i> Thêm mới</button>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th data-bind="visible: IsDesktop">Ảnh</th>
                        <th>Tên sản phẩm</th>
                        <th data-bind="visible: IsSmartPhone450">Khách hàng</th>
                        <th data-bind="visible: IsSmartPhone450">Trạng thái</th>
                        <th>Sửa, xóa</th>
                    </tr>
                </thead>
                <tbody data-bind="template: {name:'ProductTemplate', foreach: ListProduct}"></tbody>
            </table>
            <div class="row margin-bottom-10">
                <div class="col-md-6" id="sumarypager"></div>
                <div class="col-md-6">
                    <div class="text-right" id="pager"></div>
                </div>
            </div>
        </div>
    </div>
</div>