@{
    ViewBag.Title = "Quản lý người dùng";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@section KnockOut{
    <script type="text/html" id="UserTemplate">
        <tr>
            <td data-bind="text: (CurrentPage - 1) * totalPageCate+$index()+1"></td>
            <td><img data-bind="attr:{src: Image}, visible: $root.IsDesktop" height="40" /></td>
            <td data-bind="text: FullName"></td>
            <td data-bind="text: Title, visible: $root.IsSmartPhone450"></td>
            <td data-bind="text: Status == 1 ? 'Bình thường' : 'Tạm khóa'"></td>
            <td>
                <button type="button" class="btn-u btn-u-dark-blue" data-bind="click: $root.SetUpdate.bind($data, $data)"><i class="fa fa-magic"></i></button>
                <button type="button" class="btn-u btn-u-red" data-bind="click: $root.Delete.bind($data, $data)"><i class="fa fa-times"></i></button>
            </td>
        </tr>
    </script>
    <script src="~/Scripts/jquery.ui.widget.js"></script>
    <script src="~/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
    <script src="~/Scripts/md5-min.js"></script>
    <script src="~/Scripts/plugins/moment.min.js"></script>
    <script src="~/Scripts/ATI.pager.js"></script>
    <script src="~/Scripts/models/User.js"></script>
    <script src="~/Scripts/ModelViews/User.js"></script>
}
<link href="~/Content/jQuery.FileUpload/css/jquery.fileupload.css" rel="stylesheet" />
<link href="~/Content/css/custom-sky-forms.css" rel="stylesheet" />
<link href="~/Content/css/jquery_ui_datepicker.css" rel="stylesheet" />
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Người dùng</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Trang chủ</a></li>
            <li><a class="active">Người dùng</a></li>
        </ul>
    </div>
</div>
<div class="container content">
    <div class="sky-form margin-bottom-30" data-bind="visible:ShowDetail">
        <header>Thông tin người dùng</header>
        <fieldset>
            <div class="row">
                <section class="col col-4">
                    <label class="label">Họ và tên <span class="color-red">*</span></label>
                    <label class="input">
                        <input type="text" data-bind="value: FullName, hasfocus: fcFullName" maxlength="150" />
                    </label>
                </section>
                <section class="col col-4">
                    <label class="label">Tên đăng nhập <span class="color-red">*</span></label>
                    <label class="input">
                        <input type="text" data-bind="value: UserName, hasfocus: fcUserName" maxlength="150" />
                    </label>
                </section>
            </div>
            <div class="row">
                <section class="col col-4">
                    <label class="label">Chức danh</label>
                    <label class="input">
                        <input type="text" data-bind="value: Title" maxlength="100" />
                    </label>
                </section>
                <section class="col col-4">
                    <label class="label">Trạng thái</label>
                    <label class="select">
                        <select data-bind="value:Status">
                            <option value="1">Bình thường</option>
                            <option value="0">Tạm khóa</option>
                        </select>
                    </label>
                </section>
                <section class="col col-3" data-bind="visible:IsAdd">
                    <label class="label">Mật khẩu <span class="color-red">*</span></label>
                    <label class="input">
                        <input type="password" data-bind="value: Password, hasfocus: fcPassword" maxlength="10" />
                    </label>
                </section>
            </div>
            <div class="row">
                <section class="col col-2">
                    <label class="label">Ảnh dự án</label>
                    <label class="img-bordered">
                        <img data-bind="attr:{src: Image()}" width="70" />
                    </label>
                </section>
                <section class="col col-6">
                    <div class="input">
                        <i id="loadingUpload" class="fa fa-spinner fa-pulse" data-bind="visible: isUploading()" style="display: none;"></i>
                        <div class="fileuploadButton cursor-pointer">
                            <input id="FileUploadImage" type="file" name="FileData">
                            <a href="#">
                                <i class="fa fa-upload"></i> <span>Tải ảnh</span>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </fieldset>
        <footer>
            <button class="button" type="submit" data-bind="click: Update, enable: !Sending()"><img src="/content/images/loading1.gif" data-bind="visible: Sending" /> Lưu lại</button>
        </footer>
    </div>
    <div class="panel panel-green margin-bottom-40">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="icon icon-tasks"></i> Danh sách người dùng</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6 mb-margin-bottom-30">
                    <div class="input-group margin-bottom-40">
                        <input type="text" placeholder="Tên đăng nhập" class="form-control" data-bind="value: Keyword">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-u btn-small btn-u-blue" data-bind="click: Search.bind($data,1)">Tìm kiếm</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-6 mb-margin-bottom-30 text-right">
                    <button type="button" class="btn-u" data-bind="click: ShowAddForm"><i class="icon icon-plus"></i> Thêm mới</button>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>TT</th>
                        <th data-bind="visible: IsDesktop">Ảnh</th>
                        <th>Họ và tên</th>
                        <th data-bind="visible: IsSmartPhone450">Chức danh</th>
                        <th data-bind="visible: IsSmartPhone450">Trạng thái</th>
                        <th>Sửa, xóa</th>
                    </tr>
                </thead>
                <tbody data-bind="template: {name:'UserTemplate', foreach: ListUser}"></tbody>
            </table>
            <div class="row margin-bottom-10">
                <div class="col-md-6" id="sumarypager"></div>
                <div class="col-md-6">
                    <div class="text-right" id="pager"></div>
                </div>
            </div>
        </div>
    </div>
</div>