
h4,
h5 {
  color: #26a65b;
}
a {
  color: #26a65b;
}
a:hover {
  color: #53678d;
}
a:active {
  color: #414f6d;
}
.alternative-font {
  color: #26a65b;
}
p.drop-caps:first-child:first-letter {
  color: #26a65b;
}
p.drop-caps.secundary:first-child:first-letter {
  background-color: #26a65b;
}
ul.nav-pills > li.active > a {
  background-color: #26a65b;
}
ul.nav-pills > li.active > a:hover,
ul.nav-pills > li.active > a:focus {
  background-color: #26a65b;
}
.sort-source-wrapper .nav > li.active > a {
  color: #26a65b;
}
.sort-source-wrapper .nav > li.active > a:hover,
.sort-source-wrapper .nav > li.active > a:focus {
  color: #26a65b;
}
.pagination > .active a,
.pagination > .active span,
.pagination > .active a:hover,
.pagination > .active span:hover,
.pagination > .active a:focus,
.pagination > .active span:focus {
  background-color: #26a65b !important;
}
.btn-primary,
.pagination > .active > a {
  border-color: #26a65b !important;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #26a65b;
  border-color: #26a65b;
}
.btn-primary:hover,
.pagination > .active > a:hover {
  border-color: #53678d;
  background-color: #53678d;
}
.btn-primary:active,
.pagination > .active > a:active,
.btn-primary:focus,
.pagination > .active > a:focus {
  border-color: #414f6d;
  background-color: #414f6d;
}
.progress-bar-primary {
  background-color: #26a65b;
}
section.highlight {
  background-color: #26a65b !important;
  border-color: #414f6d !important;
}
section.page-top h2 {
  border-bottom-color: #26a65b;
}
section.toggle label {
  color: #26a65b;
  border-left-color: #26a65b;
}
section.toggle.active > label {
  background-color: #26a65b;
  border-color: #26a65b;
  color: #FFF;
}
section.page-top.custom-product {
  background-color: #414f6d;
  border-top-color: #465677;
}
.feature-box .feature-box-icon {
  background-color: #26a65b;
}
.feature-box.secundary .feature-box-icon i.icon {
  color: #26a65b;
}
.thumb-info .thumb-info-type {
  background-color: #26a65b;
}
.thumb-info .thumb-info-action-icon {
  background-color: #26a65b;
}
.thumb-info-social-icons a {
  background-color: #26a65b;
}
.thumbnail .zoom {
  background-color: #26a65b;
}
.inverted {
  background-color: #26a65b;
}
.tabs ul.nav-tabs a,
.tabs ul.nav-tabs a:hover {
  color: #26a65b;
}
.tabs ul.nav-tabs a:hover {
  border-top-color: #26a65b;
}
.tabs ul.nav-tabs li.active a {
  border-top-color: #26a65b;
  color: #26a65b;
}
.tabs.tabs-bottom ul.nav-tabs li a:hover,
.tabs.tabs-bottom ul.nav-tabs li.active a,
.tabs.tabs-bottom ul.nav-tabs li.active a:hover,
.tabs.tabs-bottom ul.nav-tabs li.active a:focus {
  border-bottom-color: #26a65b;
}
.tabs.tabs-vertical.tabs-left ul.nav-tabs li a:hover,
.tabs.tabs-vertical.tabs-left ul.nav-tabs li.active a,
.tabs.tabs-vertical.tabs-left ul.nav-tabs li.active a:hover,
.tabs.tabs-vertical.tabs-left ul.nav-tabs li.active a:focus {
  border-left-color: #26a65b;
}
.tabs.tabs-vertical.tabs-right ul.nav-tabs li a:hover,
.tabs.tabs-vertical.tabs-right ul.nav-tabs li.active a,
.tabs.tabs-vertical.tabs-right ul.nav-tabs li.active a:hover,
.tabs.tabs-vertical.tabs-right ul.nav-tabs li.active a:focus {
  border-right-color: #26a65b;
}
ul.list.icons li i {
  color: #26a65b;
}
i.icon-featured {
  background-color: #26a65b;
}
.parallax blockquote i.icon-quote-left {
  color: #26a65b;
}
section.video blockquote i.icon-quote-left {
  color: #26a65b;
}
.panel-group .panel-heading a {
  color: #26a65b;
}
.panel-group.secundary .panel-heading {
  background-color: #26a65b !important;
}
#header nav ul.nav-main ul.dropdown-menu,
#header nav ul.nav-main li.dropdown.open .dropdown-toggle,
#header nav ul.nav-main li.active a,
#header nav ul.nav-main li > a:hover,
#header nav ul.nav-main li.dropdown:hover a {
  color: #FFF;
  background-color: #26a65b !important;
}
#header nav ul.nav-main ul.dropdown-menu li:hover > a {
  background-color: #5d729d !important;
}
#header nav ul.nav-main ul.dropdown-menu {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #26a65b;
  border-color: #26a65b;
}
#header nav ul.nav-main ul.dropdown-menu:hover {
  border-color: #53678d;
  background-color: #53678d;
}
#header nav ul.nav-main ul.dropdown-menu:active,
#header nav ul.nav-main ul.dropdown-menu:focus {
  border-color: #414f6d;
  background-color: #414f6d;
}
#header nav ul.nav-main li.dropdown:hover ul.dropdown-menu li > a {
  background: none !important;
}
#header nav ul.nav-main li.dropdown:hover ul.dropdown-menu li > a:hover {
  background: #53678d !important;
}
#header.single-menu nav ul.nav-main li.active > a {
  border-top: 5px solid #26a65b;
}
#header.darken-top-border {
  border-top: 5px solid #414f6d !important;
}
#header.colored .header-top {
  background-color: #26a65b;
}
#header.colored .header-top ul.nav-top li a:hover {
  background-color: #53678d !important;
}
#header.flat-menu nav ul.nav-main li > a,
#header.flat-menu nav ul.nav-main li.active > a {
  color: #666;
}
#header.flat-menu nav ul.nav-main li.active > a {
  color: #26a65b;
  background-color: transparent !important;
}
#header.flat-menu nav ul.nav-main li > a:hover,
#header.flat-menu nav ul.nav-main li.dropdown:hover a {
  color: #FFF;
  background-color: #26a65b !important;
}
#header nav.mega-menu ul.nav-main li.mega-menu-item ul.dropdown-menu {
  border-top-color: #26a65b;
}
blockquote.testimonial {
  background: #53678d;
}
.testimonial-arrow-down {
  border-top-color: #53678d;
}
.featured-box-secundary i.icon-featured {
  background-color: #26a65b;
}
.featured-box-secundary h4 {
  color: #26a65b;
}
.featured-box-secundary .box-content {
  border-top-color: #26a65b;
}
.pricing-table .most-popular {
  border-color: #26a65b;
}
.pricing-table .most-popular h3 {
  background-color: #26a65b;
}
section.timeline .timeline-box.left:before,
section.timeline .timeline-box.right:before {
  background: #26a65b;
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 6px #26a65b;
}
ul.history li .featured-box .box-content {
  border-top-color: #26a65b;
}
.recent-posts .date .month,
article.post .post-date .month {
  background-color: #26a65b;
}
.recent-posts .date .day,
article.post .post-date .day {
  color: #26a65b;
}
.slider .tp-bannertimer {
  background-color: #26a65b;
}
.home-intro p em {
  color: #5d729d;
}
.home-concept strong {
  color: #26a65b;
}
.shop ul.products li.product .onsale {
  background-color: #26a65b;
  border-bottom-color: #3b4863;
}
.shop .star-rating span,
.shop .cart-totals tr.total .amount {
  color: #26a65b;
}
#footer .footer-ribbon {
  background: #26a65b;
}
#footer .footer-ribbon:before {
  border-right-color: #2e384d;
}
body.boxed .body {
  border-top-color: #26a65b;
}
.md{
    background-color: rgba(0, 0, 0, 0.45);
    padding: 20px 20px 60px;
    position: absolute;
    width: 45%;
}
.caption-text{font-size:24px;color:#fff}
.menuATI {
        color: #fff !important;
    }#header{background-color:#2ECC71 !important; background:none;}.txt-right{text-align:right}