@using ATI.Web.Models;
@{
    var commonInfo = (CommonInfo)ViewBag.CommonInfo;
    ViewBag.Title = "Chính sách chung về phát triển đại lý - " + commonInfo.Name;
    ViewBag.Description = Html.Raw("Chính sách chung về phát triển đại lý - " + commonInfo.Name);
    ViewBag.Keyword = Html.Raw("Chính sách chung về phát triển đại lý, " + commonInfo.Name);
    ViewBag.Url = "http://www.fcn.vn/dai-ly/chinh-sach";
    ViewBag.Image = "http://www.fcn.vn" + commonInfo.Logo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section KnockOut{
    <script src="~/Scripts/plugins/amplify.min.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script src="~/Scripts/plugins/toastr.min.js"></script>
    <script src="~/Scripts/knockout-2.2.0.js"></script>
    <script src="~/Scripts/contact.js"></script>
}
<link href="~/Content/css/toastr.min.css" rel="stylesheet" />
<section class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active">Trang</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Phát triển đại lý</h2>
            </div>
        </div>
    </div>
</section>
<div class="container content">
    <div class="row margin-bottom-30">
        <div class="col-md-12 mb-margin-bottom-30">
            <div class="headline"><h2 class="short center">Chính sách chung phát triển đại lý</h2></div>
            <div class="headline"><h5 class="short center">(SUN’SOIL VIETNAM)</h5></div>
            <hr />
            <h4>NGUYÊN TẮC PHÁT TRIỂN LÂU DÀI VÀ BỀN VỮNG CÙNG ĐẠI LÝ </h4>
            <ol>
                <li>Sẵn sàng chia sẽ <strong class="color-blue">lợi nhuận</strong> cùng Đại lý, chia sẽ cơ hội, chia sẽ lợi ích kinh doanh và đồng hành lâu dài, bền vững cùng Đại lý.</li>
                <li>Quan tâm, hỗ trợ Đại lý cũng như có những hỗ trợ hợp tác nhằm nâng cao tính mật thiết giữa Đại lý và Nhà phân phối, Nhà sản xuất.</li>
                <li>Bảo vệ tối đa cho Đại lý trước những biến động của Thị trường.</li>
                <li>Bảo vệ khách hàng cho Đại lý, đảm bảo tính công bằng trên toàn bộ hệ thống phân phối.</li>
                <li>Cùng đại lý mở rộng thị trường và mở rộng kênh phân phối của Đại lý.</li>
            </ol>
            <p>&nbsp;</p>
            <h4>CHÍNH SÁCH CHUNG DÀNH CHO ĐẠI LÝ:</h4>
            <h5>Chiết khấu mua hàng định kỳ:</h5>
            <ul>
                <li>Dựa theo doanh số cam kết hàng quý, Quý đại  lý sẽ được tham gia chương trình chiết khấu trên doanh số mua hàng dành riêng cho đại lý của Nhà phân phối</li>
                <li>Khi đạt đủ doanh số mua hàng cam kết, Quý đại lý sẽ được hưởng khoản chiết khấu theo tỷ lệ đã thỏa thuận từ đầu quý.</li>
                <li>Chính sách CHIẾT KHẤU này độc lập và được Tiếng Anhh song song với các chương trình hỗ  trợ hoặc thúc đẩy kinh doanh khác từ Nhà sản xuất/ Nhà phân phối cho Quý đại lý. </li>
            </ul>
            <h5>Chính sách giá, bảo vệ giá:</h5>
            <div class="margin-left45 bold">Giá mua hàng: </div>
            <ul class="margin-left45">
                <li>
                    Căn cứ vào kết quả mua hàng và các cam kết hợp tác khác, Quý đại lý sẽ được hưởng chính sách giá dành cho cấp đại lý tương ứng.
                </li>
                <li>Chính sách giá được xây dựng để đảm bảo tính cạnh tranh và lợi nhuận tối đa cho Quý đại lý trên thị trường.</li>
            </ul>
            <div class="margin-left45 bold">Giá mua hàng: </div>
            <ul class="margin-left45">
                <li>
                    Trong trường hợp Nhà sản xuất/ Nhà phân phối giảm giá bán, Quý đại lý được bảo vệ giá đối với những mặt hàng cùng loại theo đúng số lượng hàng, mã hàng nhập đang lưu kho của Đại lý, được xác minh trong vòng 30 ngày kể từ ngày thông báo giảm giá.
                </li>
                <li>Trong trường hợp Nhà sản xuất/ Nhà phân phối tăng giá Bán, Quý đại lý được thông báo trước tối thiểu trong vòng 45 tối đa 60 ngày để có chính sách nhập hàng cho phù hợp. </li>
            </ul>
            <div class="margin-left45 bold">Bảo vệ khách hàng cho Đại lý:</div>
            <ul class="margin-left45">
                <li>Các đại được khuyến khích mở rộng thị trường để gia tăng lượng khách hàng và để trở thành các Đại lý lớn độc quyền phân phối tại các khu vực đã được quy hoạch trong hệ thống.</li>
                <li>Các Đại lý được cấp mã Đại lý, mã này sẽ được các Đại lý cung cấp cho các khách hàng của mình nhằm mục đích khi các khách hàng của Đại lý tiếp xúc trực tiếp tới Nhà phân phối, Nhà phân phối sẽ yêu cầu khách hàng cấp mã nếu Mã khách hàng thuộc đại lý nào thì sẽ được Nhà phân phối chuyển khách hàng về cho Đại lý đó.</li>
                <li>Trong trường hợp các khách hàng mua lẻ liên hệ trực tiếp với Nhà phân phối, sẽ được nhà phân phối giới thiệu về nơi Đại lý có khu vực nơi khách hàng cư trú.</li>
                <li>Nhà phân phối bảo vệ quyền phát triển tại đại điểm mới cho Đại lý trên toàn kênh phân phối tối thiểu 3 tháng và đa không quá 6 tháng.</li>
            </ul>
            <h5>Hợp đồng nguyên tắc và công nợ:</h5>
            <div class="margin-left45 bold">Hợp đồng nguyên tắc:</div>
            <ul class="margin-left45">
                <li>Sau khi hai bên ký Hợp đồng nguyên tắc, Quý đại lý sẽ được đưa vào danh sách ưu đãi của Nhà phân phối, được hưởng các chính sách dành cho đại lý của Nhà phân phối.</li>
            </ul>
            <div class="margin-left45 bold">Công nợ mua hàng:</div>
            <ul class="margin-left45">
                <li>Quý đại lý thanh toán 100% trước khi giao hàng.</li>
                <li>Trên cở sở kết quả hợp tác và lịch sử thanh toán, Quý đại lý sẽ được hưởng các mức ưu đãi tốt hơn về chính sách tín dụng, công nợ.</li>
                <li>Trong  trường hợp Quý đại lý lập bảo lãnh ngân hàng thời hạn 1 năm với số tiền tuỳ thuộc vào nhu cầu kinh doanh và năng lực tài chính của đại lý. Trên cơ sở đó Quý đại lý sẽ được hưởng hạn mức tín dụng từ 40% đến 70% với thời hạn công nợ tối đa là 30 ngày.</li>
            </ul>
            <h5>CHÍNH SÁCH HỖ TRỢ:</h5>
            <div class="margin-left45 bold">Hỗ trợ về PR – Marketing:</div>
            <ul class="margin-left45">
                <li>Quý đại lý được hỗ trợ catalogue, tờ rơi, banner, … theo các chương trình của Nhà phân phối và hãng Sunsoil. Thông tin về Quý đại lý sẽ được quảng cáo cùng nhà phân phối trên các phương  tiện  thông tin đại chúng và trang web của Nhà phân phối – Cty Phoenix.</li>
                <li>Quý đại lý được tham gia tất cả các chương trình khuyến mãi và thúc đẩy bán hàng của Nhà sản xuất/ Nhà phân phối.</li>
                <li>Quý đại lý được cấp giấy chứng nhận là đại lý chính thức của Nhà sản xuất và Nhà phân phối.</li>
                <li>Quý đại lý được cập nhật thông tin về giá cả, thông tin về hàng hoá, sản phẩm, chính sách của hãng và nhà phân phối, các chương trình marketing, các tài liệu thúc đẩy bán hàng.</li>
            </ul>
            <div class="margin-left45 bold">Hỗ trợ về kỹ thuật, giải pháp:</div>
            <ul class="margin-left45">
                <li>Quý đại lý được hỗ trợ kỹ thuật qua điện thoại., hỗ trợ kỹ thuật trực tiếp tại chỗ khi có yêu cầu cũng như có những trương hợp vượt qua tầm xử lý sẽ được Kỹ thuật của Nhà sản xuất hổ trợ và đảm nhận.</li>
                <li>Quý đại lý được đào tạo và huấn luyện theo chương trình, theo cấp Đại lý tương ứng với từng dòng sản phẩm, công nghệ và kiến thức bán hàng theo chương trình của Nhà sản xuất/ Nhà phân phối khi có chương trình. </li>
                <li>Khi tham gia thầu và dự án, Quý đại lý sẽ được Nhà sản xuất/ Nhà phân phối tư vấn và hỗ trợ về giải pháp và kỹ thuật nếu có yêu cầu. </li>
            </ul>
            <h5>Hỗ trợ về hàng hóa:</h5>
            <div class="margin-left45 bold">Đổi hàng:</div>
            <p>Trong vòng 7 ngày kể từ ngày xuất hóa đơn, Quý đại lý sẽ được đổi hàng mới nếu sản phẩm được xác định thuộc lỗi của của Nhà sản xuất. Trong trường hợp không còn hàng đổi, Nhà phân phối sẽ hỗ trợ tối đa Quý đại lý để giải quyết vấn đề một cách tốt nhất.</p>
            <div class="margin-left45 bold">Trả hàng:</div>
            <p>Trong trường hợp hàng hóa, giá cả không đúng với thỏa thuận mua hàng, Quý đại lý có quyền trả lại hàng cho Nhà phân phối. Việc trả hàng được thực hiện  trong vòng 7 ngày kể  từ ngày xuất hóa đơn và ký biên bản bàn giao hàng hóa.</p>
            <div class="margin-left45 bold">Hàng trưng bày mẫu, thử nghiệm:</div>
            <p>Quý đại lý sẽ được mượn hàng trưng bày mẫu, thử nghiệm đối với các dòng sản phẩm mới tung ra thị trường hoặc khi Quý đại lý khai trương/mở địa điểm kinh doanh mới. Vui lòng liên hệ trực tiếp trước với Nhà phân phối khi Đại lý có nhu cầu. </p>
            <div class="margin-left45 bold">Vận chuyển hàng hoá: </div>
            <p>Đại lý được hỗ trợ toàn bộ chi phí luân chuyển hàng hóa của Sun’soil phân phối trực tiếp tới tận nơi bán hàng của Các đại lý đồng  thời chịu trách nhiệm về chất lượng hàng hóa vận chuyển  từ kho của Nhà phân phối đến điểm giao nhận của đại lý.</p>
            <p>&nbsp;</p>
            <h5>YÊU CẦU ĐỐI VỚI QUÝ ĐẠI LÝ:</h5>
            <ul>
                <li>Quý đại lý tự quản lý Khu vực đã được đăng ký với Nhà phân phối, tự mở rộng phát triển khách hàng và phát triển thị trường.</li>
                <li>Chủ động xây dựng mạnh mạng lưới bán hàng cung cấp sản phẩm của mình bằng các hình thức, hoạt động lành mạnh, thể hiện tính chuyên nghiệp.</li>
                <li>Các đại lý mở rộng chi nhánh tại các địa điểm mới sẽ được Nhà sản xuất/ Nhà phân phối hỗ trợ tối đa đồng thời được bảo vệ tối đa trên toàn hệ thống theo nguyên tắc đầu tiên, Đại lý xây dựng kế hoạch phát triển của mình và thông báo địa điểm muốn phát triển về cho Nhà sản xuất/ Nhà phân phối để được bảo vệ trên toàn hệ thống nhằm tránh cạnh tranh không lành mạnh giữa các Đại lý.</li>
                <li>Tự chủ động lên kế hoạch kinh doanh, kế hoạch phát triển kháchs hàng, kế hoạch đem sản phẩm  tiếp cận người tiêu dùng tại khu vực mình đã đăng ký phụ trách hoặc tại địa điểm phát triển mới mà mình đã đăng ký bảo vệ từ Nhà sản xuất/ Nhà phân phối.</li>
                <li>Trong vòng 3-6 tháng sau khi Quý đại lý đăng ký bảo vệ với Nhà sản xuất/ Nhà phân phối, mà quý đại lý không triển khai thì sẽ được Nhà phân phối chuyển giao quyền bảo vệ lại cho Đại lý đăng ký kế tiếp.</li>
                <li>Trong các trường hợp nhằm phát triển thị trường, Nhà phân phối sẽ có kế hoạch mở rộng mạng lưới, Nhà phân phối sẽ tự tổ chức độc lập đồng thời thông báo địa điểm tổ chức tới các đại lý khu vực lân cận hoặc là sẽ thông báo trên trang web chính thức, Các đại lý có quyền đăng ký tham gia đồng hành và hỗ trợ cùng Nhà phân phối trong trường hợp Đại lý muốn mở rộng phát triển mạng lưới của mình tại địa điểm đó. Việc lựa chọn này theo nguyên tắc đầu tiên (nêu trên).</li>
                <li>Hỗ trợ Hãng/ Nhà phân phối khi có các chương trình khuyến mãi, quảng cáo diễn ra tại điểm kinh doanh của Quý đại lý.</li>
                <li>Không kinh doanh sản phẩm không rõ nguồn gốc xuất xứ. Nếu là Đại lý phân phối độc quyền thì không kinh doanh sản phẩm tương tự của thương hiệu khác.</li>
                <li>Mức giá cho khách hàng đầu cuối đảm bảo tương đương với mức giá bán lẻ đề nghị của nhà phân phối. Không bán phá giá</li>
            </ul>
            <p>&nbsp;</p>
            <div class="pull-right">
                NHÀ PP ĐỘC QUYỀN SP SUN’SOIL TẠI VIỆT NAM PHOENIX TIS CO., LTD
            </div>
            <p>&nbsp;</p>
            <div><img src="/images/product/thailand-sunsoil-certificate.png" class="img-responsive" alt="" /></div>
        </div>
    </div>
</div>