@using ATI.Web.Models;
@{
    var commonInfo = (CommonInfo)ViewBag.CommonInfo;
    ViewBag.Title = Html.Raw("Hỏi đáp về sản phẩm " + commonInfo.Name);
    ViewBag.Description = Html.Raw("Hỏi đáp về các sản phẩm " + commonInfo.Name);
    ViewBag.Keyword = Html.Raw("Hỏi đáp về sản phẩm " + commonInfo.Name);
    ViewBag.Url = "http://www.fcn.vn/hoi-dap";
    ViewBag.Image = "http://www.fcn.vn" + commonInfo.Logo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active">Trang</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>FAQ</h2>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Câu hỏi thường gặp về các sản phẩm <strong class="customer">SUN'SOIL</strong></h2>
            <div class="row">
                <div class="col-md-12">
                    <p class="lead">
                        <span class="customer">SUN’SOIL</span> là sản phẩm được nhập khẩu 100% từ Thái Lan với nhiều dòng sản phẩm khác nhau đáp ứng mọi nhu cầu
                    </p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-group acc-v1" id="accordion-v1">
                        @{
                        var faqs = (List<FAQ>)ViewBag.FAQs;
                        foreach (var item in faqs)
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-v1" href="#collapse-@item.ID">
                                            @Html.Raw(item.Question)
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse-@item.ID" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        @Html.Raw(item.Answer)
                                    </div>
                                </div>
                            </div>
                        }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

